.autocomplete {
    width: 240px;
    border-color: #dddddd;
}

.autocomplete input {
    color: #dddddd;
}

.autocomplete label {
    color: #dddddd;
}

.autocomplete svg {
    color: #dddddd;
}

.autocomplete fieldset {
    border-width: 2px;
    border-color: #cdcdcd;
}
