.autocomplete {
    width: 340px;
    border-color: #dddddd;
}

.autocomplete input {
    font-size: 16px;
    color: #dddddd;
}

.autocomplete label {
    color: #dddddd;
}

.autocomplete svg {
    color: #dddddd;
}

.autocomplete fieldset {
    border-width: 2px;
    border-color: #cdcdcd;
}
